/*
----------------------------------------
Typography settings
----------------------------------------
*/

/*
----------------------------------------
Root font size
----------------------------------------
Setting $theme-respect-user-font-size to
true sets the root font size to 100% and
uses ems for media queries
----------------------------------------
$theme-root-font-size only applies when
$theme-respect-user-font-size is set to
false.

This will set the root font size
as a specific px value and use px values
for media queries.

Accepts true or false
----------------------------------------
*/

$theme-respect-user-font-size: true !default;

// $theme-root-font-size only applies when
// $theme-respect-user-font-size is set to
// false.

// This will set the root font size
// as a specific px value and use px values
// for media queries.

// Accepts values in px

$theme-root-font-size: 10px !default;

/*
----------------------------------------
Type scale
----------------------------------------
Define your project's type scale using
values from the USWDS system type scale

1-20
----------------------------------------
*/

$typography-font-size-2xs: 1.3rem !default;
$typography-font-size-xs: 1.4rem !default;
$typography-font-size-sm: 1.6rem !default;
$typography-font-size-md: 1.8rem !default;
$typography-font-size-lg: 2.0rem !default;
$typography-font-size-xl: 2.1rem !default;
$typography-font-size-2xl: 2.2rem !default;
$typography-font-size-3xl: 2.5rem !default;
$typography-font-size-4xl: 2.8rem !default;
$typography-font-size-5xl: 3.1rem !default;
$typography-font-size-6xl: 3.9rem !default;

// General
$typography-base-font-size: "sm" !default;
$typography-base-line-height: 5 !default;
$typography-font-family: 'IBM Plex Sans', 'system' !default;
$typography-text-max-width: 66ch !default;

// Body text
$typography-body-text-font-size: $typography-base-font-size !default;
$typography-body-text-line-height: $typography-base-line-height !default;
$typography-body-text-letter-spacing: normal !default;
$typography-body-text-font-weight: "normal" !default;
$typography-body-text-color: 'ink' !default;
$typography-body-text-secondary-color: 'ink-light' !default;

// Caption text
$typography-caption-text-color: 'ink' !default;
$typography-caption-font-size: "2xs" !default;
$typography-caption-line-height: 405 !default;
$typography-caption-letter-spacing: 0.4px !default;

// Subheading
$typography-subheading-text-color: 'gray-500' !default;
$typography-subheading-font-size: "2xs" !default;
$typography-subheading-line-height: 4 !default;
$typography-subheading-letter-spacing: 1px !default;

// Form label
$typography-form-label-font-size: "sm" !default;
$typography-form-label-line-height: 5 !default;
$typography-form-label-text-color: 'ink' !default;

// Small text
$typography-small-text-font-size: "xs" !default;
$typography-small-text-letter-spacing: 0.2px !default;
$typography-small-text-line-height: 405 !default;

// Font weight settings
$typography-font-weight-thin: false !default;
$typography-font-weight-extralight: false !default;
$typography-font-weight-light: false !default;
$typography-font-weight-normal: 400 !default;
$typography-font-weight-medium: 500 !default;
$typography-font-weight-semibold: 600 !default;
$typography-font-weight-bold: 700 !default;
$typography-font-weight-heavy: false !default;

// Display text
$typography-display-1-heading-font-size: "3xl" !default;
$typography-display-1-heading-line-height: 605 !default;
$typography-display-1-heading-letter-spacing: normal !default;

$typography-display-2-heading-font-size: "xl" !default;
$typography-display-2-heading-line-height: 6 !default;
$typography-display-2-heading-letter-spacing: normal !default;

// Article
$typography-article-font-size: "md" !default;
$typography-article-line-height: 505 !default;
$typography-article-letter-spacing: normal !default;

// Lead text
$typography-lead-font-size: "xl" !default;
$typography-lead-line-height: 6 !default;
$typography-lead-letter-spacing: normal !default;

// H1
$typography-h1-font-size: (
    "default": "3xl",
    "md": "5xl",
    "lg": "6xl"
) !default;
$typography-h1-line-height: (
    "default": 6,
    "md": 7,
    "lg": 8 
) !default;
$typography-h1-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal 
) !default;

// H2
$typography-h2-font-size: (
    "default": "2xl",
    "md": "3xl",
    "lg": "5xl"
) !default;
$typography-h2-line-height: (
    "default": 505,
    "md": 6,
    "lg": 7
) !default;
$typography-h2-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal
) !default;

// H3
$typography-h3-font-size: (
    "default": "md",
    "md": "lg",
    "lg": "3xl"
) !default;
$typography-h3-line-height: (
    "default": 5,
    "md": 505,
    "lg": 6
) !default;
$typography-h3-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal
) !default;

// H4
$typography-h4-font-size: (
    "default": "sm",
    "lg": "lg"
) !default;
$typography-h4-line-height: (
    "default": 5,
    "lg": 505
) !default;
$typography-h4-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal
) !default;

// H5
$typography-h5-font-size: (
    "default": "xs",
    "lg": "sm"
) !default;
$typography-h5-line-height: (
    "default": 405,
    "lg": 5
) !default;
$typography-h5-letter-spacing: (
    "default": normal,
    "md": normal
) !default;

// H6
$typography-h6-font-size: "2xs" !default;
$typography-h6-line-height: 405 !default;
$typography-h6-letter-spacing: normal !default;