.sidenav-list {
  @include unstyled-list();

  ul{
    @include unstyled-list();
  }
  border-bottom: border($sidenav-border);
  border-top: border($sidenav-border);

  a {
    display: block;
    border: none;
    color: color($sidenav-link-default-color);
    line-height: units($sidenav-link-line-height, 'rem');
    padding: $spacer;
    padding-top: calc(8px - #{border-width($sidenav-list-level1-border)});
    padding-left: units(4);
    padding-right: units(4);
    text-decoration: none;
    max-width: none;
    &:focus {
      outline-offset: 0;
      position: relative;
      z-index: 1;
    }
  }
  > li.current{
    > a, > ul > li > a{
      padding-left: calc(#{units(4)} - #{$sidenav-active-border-width});
    }
  }
  li {
    &:hover {
      background-color: color($sidenav-link-hover-background-color);
    }
    a:hover {
      text-decoration: none;
      color: color($sidenav-link-active-color);
    }

    a {
      overflow:hidden;
      display: flex;
      flex-wrap: wrap;

      ul {
        width:100%
      }

      .sidenav-icon-before {
        line-height: 23px;
        text-align: left;
      }

      .sidenav-icon {
        margin-left: auto;
        width: 22px;
        height: 22px;
        line-height: 23px;
        text-align: center;
        float: right;
      }
      .sidenav-title{
        margin-left: units(2);
        white-space: pre-line;
      }

      .sidenav-information {
        color: color($sidenav-link-default-extra-information-text-color);
        margin: 0;
        display: block;
        width: 100%;
      }

      &:focus{
        background-color: transparent;
      }
    }

    &.current {
      > a {
        font-weight: font-weight("medium");
      }

      .sidenav-information {
        color: color($sidenav-link-current-extra-information-text-color);
        font-weight: font-weight("normal");
      }
    }
    &.active{
      > a{
        color: color($sidenav-link-active-color);
        font-weight: font-weight("medium");
      }
    }
  }

  > li > ul > li > ul > li > a{
    padding-left: units(5);
  }
  > li > ul > li > ul > li > ul > li > a{
    padding-left: units(6);
  }
  > li > ul > li > ul > li > ul > li > ul > li > a{
    padding-left: units(7);
  }
  > li > ul > li > ul > li > ul > li > ul > li > ul > li > a{
    padding-left: units(8);
  }

  > li.has-anchor-links > ul > li > a{
    padding-left: calc(#{units(3)} * 4);
  }
  > li:not(.has-anchor-links) > ul > li.has-anchor-links > ul > li > a{
    padding-left: calc(#{units(3)} * 4);
  }
  > li:not(.has-anchor-links) > ul > li:not(.has-anchor-links) > ul > li.has-anchor-links > ul > li > a{
    padding-left: calc(#{units(3)} * 5);
  }
  > li:not(.has-anchor-links) > ul > li:not(.has-anchor-links) > ul > li:not(.has-anchor-links) > ul > li.has-anchor-links > ul > li > a{
    padding-left: calc(#{units(3)} * 6);
  }
  > li:not(.has-anchor-links) > ul > li:not(.has-anchor-links) > ul > li:not(.has-anchor-links) > ul > li:not(.has-anchor-links) > ul > li.has-anchor-links > ul > li > a{
    padding-left: calc(#{units(3)} * 7);
  }

  > li {
    background-color: transparent;
    font-size: font-size($typography-base-font-size);
    border-top: border($sidenav-list-level1-border);

    &.active > a{
      color: color('black');
    }

    &.current{
      border-left: $sidenav-active-border-width solid color($sidenav-active-border-color);
      background-color: color($sidenav-link-current-background-color);
    }
    &:first-child {
      border-top: none;
    }
    &:last-child {
      a {
        padding-bottom: calc(8px - #{border-width($input-border)});
      }
    }
    li{
      border-top: border($sidenav-list-level2-border);
      font-size: font-size($typography-small-text-font-size);
    }
  }
  
  li.disabled {
    cursor: not-allowed;
    a {
      cursor: not-allowed;
      color: color($sidenav-link-disabled-color);

      &:hover {
        background-color: transparent;
        text-decoration: none;
        color: color($sidenav-link-disabled-color);
        cursor: not-allowed;
      }
    }

    &.active, &.active a{color: color($sidenav-link-active-color); background-color: transparent;}
    &:hover , &.active a:hover{color: color($sidenav-link-active-color); background-color: color($sidenav-link-default-background-color);}
  }
}

.sidenav-sub_list {
  @include unstyled-list();
  margin: 0;
  width: 100%;

  li {
    border: none;
    &:last-child {
      a {
        padding-bottom: units(3);
      }
    }
  }

  a {
    padding-top: units(3);
    line-height: units($typography-base-line-height, 'rem');
  }
  li:not(.has-anchor-links) .sidenav-sub_list {
    a {
      &:focus {
        outline-offset: 0;
      }
    }
  }

}

.sidebar-col{
  @include media-breakpoint-up(md) {
    flex: 0 0 300px; //300 = 3 columns width
  }
}
