
@mixin responsive-table() {
  display: block;
  thead {
    display: none;
  }
  tbody, tr {
    display: block;
  }
  tr {
    border-bottom: border($table-row-border);
    &:last-child {
      border-bottom: 0;
    }
  }
  tr td, tr th {
    display: block;
    border: none !important;

    &[data-title]:not([data-title=""]):before {
      content: attr(data-title);
      text-align: left;
      display: block;
      font-weight: font-weight($table-head-font-weight);
    }
  }

  &.table--borderless tbody tr {
    &:first-child {
      border-top: border($table-row-border);
    }
    &:last-child {
      border-bottom: border($table-row-border);
    }
    td:first-child, th:first-child {
      padding-left: 16px;
    }
  }
}
.table {
    margin: 0;
    line-height: units($table-text-line-height, 'rem');
    border: border($table-border);
    width: calc(100% - 2px);
    color: color($table-text-color);
    font-size: font-size($table-font-size);
    border-collapse: inherit;
    border-spacing: 0;

    &.table--compact {
      th,td {
        padding-top: calc(#{units(3)} - 1px);
        padding-bottom: #{units(3)};
      }

      tbody tr:last-child th, tbody tr:last-child td {
        padding-bottom: calc(#{units(3)} - 1px);
      }

    }

    &.table--extracompact {
      th,td, tr:last-child td, tr:last-child th {
        padding-top: 0;
        padding-bottom: 0;
      }
      
    }

    td, th {
        padding: calc(#{units(4)} - 1px); //16px -1px (for the border)
        padding-bottom: #{units(4)}; //16px -1px (for the border)
        background-color: inherit;
        border-right: border($table-cell-border);
        vertical-align: top;
        text-align: left;
        border-bottom: border($table-row-border);

        &:last-child{
            border-right: none;
        }
      &.break-word{
        word-break: break-all;
      }
      &.vertical-align-middle{
        vertical-align: middle;
      }
      &.vertical-align-top{
        vertical-align: top;
      }
      &.vertical-align-bottom{
        vertical-align: bottom;
      }
    }

    thead {
        background-color: color($table-head-background-color);
        th{
            font-weight: font-weight($table-head-font-weight);
            text-align: left;
            border-bottom: border($table-row-border);
            &.table-header-no-wrap{
              white-space: nowrap;
            }
            button, .button{
              width: auto;
            }
        }
    }
    tbody{
      th{
          font-weight: font-weight($table-head-font-weight);
      }
      tr {
        background-color: transparent;
        &:last-child{
          td, th{
            padding-bottom: calc(#{units(4)} - 1px);
          }
          & > td, & > th{
              border-bottom: none;
          }
        }
      }
    }

    //no border
    &.table--borderless {
        tr {
            &:last-child{
                border-bottom: border($table-row-border);
            }
        }
        border: 0;
        width: 100%;
        td, th {
          padding-left: #{units(4)}; //16px -1px (for the border)
          padding-right: #{units(4)}; //16px -1px (for the border)
        }
        thead {
            background-color: transparent;
            th{
                background-color: transparent;
                border-top-color: transparent;
                border-left: 0;
                border-right: 0;
                border-bottom: border($table-row-border);

                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;

                }
            }
        }
        tbody{
            tr{
                td, th {
                    border-bottom: border($table-row-border);
                    border-left: 0;
                    border-right: 0;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                }
            }
        }
    }

    //No call borders right (row arrear as one single line)
    &.table--lines {
        thead {
            th{
                border-right-color: transparent;
            }
        }

        tbody{
            td, th{
                border-right: transparent;
            }
        }
    }


    //zebra lines
    &.table--zebra {
        thead {
          th{
              border-right-color: transparent;
          }
        }
        tr:nth-child(even) {
            background-color: color($table-row-even-background-color);
        }

        tbody{
            td, th{
                border-right: transparent;
            }
            
          tr:nth-child(odd) {
            background-color: color($table-row-odd-background-color);
          }
        }

        &.table--borderless {
            thead{
                background-color: color($table-row-even-background-color);
            }
            td,th {
                border-color: transparent;
                &:first-child{
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
                &:last-child{
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }
          tr:last-child th,
          tr:last-child td{
                border-bottom-color: transparent
            }
        }
    }

    @media screen {
      //make row into a "card" on phone
      &.table--responsive-headers {
        @include media-breakpoint-down(sm) {
          @include responsive-table();
        }
      }
      
      @each $breakpoint in map-keys($grid-breakpoints) {
        @if $breakpoint != xs {
          @include media-breakpoint-down($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            &.table#{$infix}-responsive-headers{
              @include responsive-table();
            }
          }
        }
      }
    }
}
.table--selectable{
  width: 100%;
  tbody tr:hover{
    background-color: color($table-selectable-hover-background-color);
  }
  &.table.table--zebra tr.table-row-selected:nth-child(even), &.table.table--zebra tr.table-row-selected:nth-child(even):hover,
  .table-row-selected, .table-row-selected:hover{
    background-color: color($table-selectable-selected-background-color);
  }
}

.table-actions{
  border-right: border($table-border);
  border-bottom: border($table-border);
  border-left: border($table-border);
  overflow: hidden;
  padding: #{units(4)} calc(#{units(4)} - 1px) calc(#{units(4)} - 1px) calc(#{units(4)} - 1px);

  .table-selected-number{
    margin-top: 0px;
    &.no-selected{
      color: color($table-selectable-help-text-color);
    }
  }
  
}
.table--responsive-scroll{
    overflow-x: auto;
    min-height: .01%;
}
